{{#if timecard}}
    <form id="timecardForm" method="POST" action="/admin/update/{{timecard.id}}">
        <input type="hidden" name="id" id="_id" value="{{timecard.id}}">
        <input type="hidden" id="hours-counter" name="hoursCount" value="{{timecard.hoursCount}}">
        <input type="hidden" id="overtime-counter" name="overtimeCount" value="{{timecard.overtimeCount}}">
        <input type="hidden" id="punch-counter" name="punchCount" value="{{timecard.punchCount}}">
        <div class="flex flex-col mb-5">
            <div id="rootObjects"
                class="max-h-min grid grid-cols-2 md:grid-cols-5 grid-rows-5 md:grid-rows-2 justify-items-start md:justify-items-center font-bold p-2 mx-3">
                <label class="col-start-1 md:col-start-1 row-start-1 md:row-start-1 " for="empName">Employee:</label>
                <label class="col-start-1 row-start-2  md:col-start-2 md:row-start-1 md:col-span-2 md:ml-2"
                    for="empEmail">Employee Email:</label>
                <div class="col-start-1 row-start-3 md:col-start-3 md:row-start-1 counter">Hours:</div>
                <div class="col-start-1 row-start-4 md:col-start-4 md:row-start-1 counter">OT Hours:</div>
                <div class="col-start-1 row-start-5 md:col-start-5 md:row-start-1 counter">Total Entries:</div>
                <input
                    class="col-start-2 row-start-1  md:col-start-1 md:row-start-2 font-light justify-self-stretch md:justify-self-center bg-base-200 rounded-lg md:px-2 sm:my-1 md:my-0 outline-none border-none focus:outline"
                    type="text" name="empName" id="empName" {{#if timecard.empName}}value="{{timecard.empName}}" {{/if}}
                    validate />
                <input
                    class="col-start-2 row-start-2  md:col-start-2 md:row-start-2 font-light justify-self-stretch md:justify-self-center md:col-span-2 bg-base-200 rounded-lg px-2 outline-none border-none focus:outline"
                    type="email" id="empEmail" name="empEmail" {{#if timecard.empEmail}}value="{{timecard.empEmail}}"
                    {{/if}} validate />
                <div class="col-start-2 row-start-3  md:col-start-3 md:row-start-2 counter" id="hours-counter">
                    {{#if timecard.hoursCount}}{{timecard.hoursCount}}{{else}}0{{/if}}
                </div>
                <div class="col-start-2 row-start-4  md:col-start-4 md:row-start-2 counter" id="overtime-counter">
                    {{#if timecard.overtimeCount}}{{timecard.overtimeCount}}{{else}}0{{/if}}
                </div>
                <div class="col-start-2 row-start-5  md:col-start-5 md:row-start-2 counter" id="punch-counter">
                    {{#if timecard.punchCount}}{{timecard.punchCount}}{{else}}0{{/if}}
                </div>
            </div>
            <div id="timeEntries">
                <div class="hidden md:grid md:grid-cols-12">
                    <div class="col-start-1 col-span-11 grid grid-cols-5 items-center justify-between justify-items-center h-8 px-3 font-light"
                        id="timeEntryHeaders">
                        <div>Date: </div>
                        <div>Job Name:</div>
                        <div>Job Number:</div>
                        <div>Hours:</div>
                        <div>Overtime:</div>
                    </div>
                </div>
                {{#each timecard.timeEntries}}
                    <div class="grid grid-cols-12 grid-rows-3 md:grid-rows-1 border-2 border-black border-collapse md:border-opacity-0 {{#ifEven @index}}sm:bg-base-200{{/ifEven}} py-4">
                        <div class="col-start-1 col-span-11 grid grid-cols-3 md:grid-cols-5 items-center justify-between  justify-items-stretch md:justify-items-center h-8 px-2 my-1 font-light"
                            id="te-{{@index}}">
                            <div class="row-start-2 md:row-start-1">
                                <label for="te-date-{{@index}}"
                                    class="md:hidden absolute -my-4 -mx-2 bg-white px-2 text-gray-500 rounded-md drop-shadow-xl">Date</label>
                                <input class="{{#ifEven @index}}bg-base-100{{else}}bg-base-200{{/ifEven}} update-input" type="date" id="te-date-{{@index}}"
                                    name="te-date-{{@index}}" {{#if this.date}}value="{{moment this.date "yyyy-MM-DD"}}"
                                    {{/if}} />
                            </div>
                            <div class="row-start-1 col-start-2 md:row-start-1">
                                <label for="te-date-{{@index}}"
                                    class="md:hidden absolute -my-4 -mx-2 bg-white px-2 text-gray-500 rounded-md drop-shadow-xl">Job
                                    Name</label>
                                <input class="{{#ifEven @index}}bg-base-100{{else}}bg-base-200{{/ifEven}} update-input" type="text" id="te-jobName-{{@index}}"
                                    name="te-jobName-{{@index}}" {{#if this.jobName}}value="{{this.jobName}}" {{/if}}
                                    validate />
                            </div>
                            <div class="row-start-1 col-start-3 md:row-start-1">
                                <label for="te-date-{{@index}}"
                                    class="md:hidden absolute -my-4 -mx-2 bg-white px-2 text-gray-500 rounded-md drop-shadow-xl">Job
                                    Num</label>
                                <input class="{{#ifEven @index}}bg-base-100{{else}}bg-base-200{{/ifEven}} update-input" type="text" id="te-jobNum-{{@index}}"
                                    name="te-jobNum-{{@index}}" {{#if this.jobNum}}value="{{this.jobNum}}" {{/if}} />
                            </div>
                            <div class="col-start-2 row-start-3 md:col-start-4 md:row-start-1">
                                <label for="te-date-{{@index}}"
                                    class="md:hidden absolute -my-4 -mx-2 bg-white px-2 text-gray-500 rounded-md drop-shadow-xl">Hours</label>
                                <input class="{{#ifEven @index}}bg-base-100{{else}}bg-base-200{{/ifEven}} update-input" type="number" step=".25" id="te-hours-{{@index}}"
                                    name="te-hours-{{@index}}" {{#if this.hours}}value="{{this.hours}}" {{/if}} />
                            </div>
                            <div class="col-start-3 md:col-start-5 row-start-3 md:row-start-1">
                                <label for="te-date-{{@index}}"
                                    class="md:hidden absolute -my-4 -mx-2 bg-white px-2 text-gray-500 rounded-md drop-shadow-xl">Overtime</label>
                                <input class="{{#ifEven @index}}bg-base-100{{else}}bg-base-200{{/ifEven}} update-input" type="number" step=".25" id="te-overtime-{{@index}}"
                                    name="te-overtime-{{@index}}" {{#if this.overtime}}value="{{this.overtime}}"
                                    {{/if}} />
                            </div>
                        </div>
                        <div id="minus-button" class="row-start-2 md:row-start-1 justify-self-center col-start-12 w-1/3 minus-button my-1">
                            <i class="justify-self-center fa-solid fa-minus"></i>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="grid grid-cols-12 justify-items-center">
                <div id="validation-warning"
                    class="col-start-2 col-span-8 text-red-400 justify-self-center align-center"></div>
                <div id="plus-button" class="justify-self-center align-center col-start-12 w-1/3 plus-button my-1">
                    <i class="justify-self-center fa-solid fa-plus"></i>
                </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-5 mt-3 justify-items-center">
                <div id="submit-button"
                    class="col-start-1 md:col-start-2 justify-self-center btn btn-accent py-2 pr-4 pl-4 drop-shadow-lg  rounded-xl font-extrabold  ">
                    Submit</div>

                <div id="back-link" class="col-start-2 md:col-start-4  btn btn-error"><a id="back-link">Cancel</a>
                </div>
            </div>
        </div>
    </form>
{{else}}
    <div>No timecard found with that ID</div>
    <div class="card border-2 p-1 px-2 bg-base-100 tk-link"><a id="back-link">Back</a></div>
{{/if}}
</div>

<script src="/js/updateTimecard.js"></script>