<!-- Component Start -->

<div class="flex flex-col">
    <button class="group rounded-lg  focus:outline-none">
        {{#if week}}
            <div class="flex justify-center justify-items-center pt-3">
                {{#eq week 1}}
                    <a class="px-2 mx-1" href="/admin/?week=52">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
        {{else}}
            <a class="px-2 mx-1" href="/admin/?week={{minus week 1}}">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
                {{/eq}}
                <details class="dropdown bg-inherit ">
                    <summary class="btn-sm rounded-btn bg-base-200">Week:{{week}}</summary>
                    <ul
                        class="border-e max-h-[125px] md:max-h-[300px] p-2 w-max shadow-xl menu dropdown-content z-[1] rounded-box bg-base-200">
                        {{#each weeks}}
                            <li class="border-e m-0.5 border-stone-600 border-collapse bg-base-100 rounded-btn">
                                <a href="/admin/?week={{this}}"> {{this}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </details>
                {{#eq week 52}}
                    <a class="px-2 mx-1" href="/admin/?week=1">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
        {{else}}
            <a class="px-2 mx-1" href="/admin/?week={{add week 1}}">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
                {{/eq}}
            </div>
        {{/if}}
        {{#if empName}}
            <div>Employee: {{empName}}</div>
        {{/if}}
            <div>Timecards Available: {{totalTimecardCount}}</div>
        <div
            class="grid grid-cols-2 md:grid-cols-5 items-center justify-between justify-items-center h-12 px-3 font-bold  ">
            <span class="truncate">Date Submitted</span>
            <span class="truncate">Employee Name</span>
            <span class="hidden md:inline-grid truncate">Hours</span>
            <span class="hidden md:inline-grid truncate">Overtime</span>
            <span class="hidden md:inline-grid"></span>
        </div>
    </button>
</div>
{{#unless timecards}}
    <div class="flex flex-col">
        <button class="focus:outline-none">
            There are no timecards to show for this view
        </button>
    </div>
{{/unless}}
{{#each timecards}}
    <div class="flex flex-col ">
        <button class="group border-t border-r border-l border-black focus:outline-none">
            <div
                class="grid grid-cols-3 md:grid-cols-5 items-center justify-between justify-items-center h-8 px-3 font-light hover:bg-gray-300 hover:text-gray-700">
                <span class="truncate">{{date this.timeEntries.[0].date 'MM-DD-YYYY'}}</span>
                <span class="truncate ">{{empName}}</span>
                <span class="hidden md:inline-grid truncate">{{hoursCount}}</span>
                <span class="hidden md:inline-grid truncate">{{overtimeCount}}</span>
                <span class="truncate grid grid-cols-3 gap-1">
                    <a class="mx-4" href="/admin/generate/{{this.id}}" target="_blank">
                        <i class="fa-solid fa-download"></i>
                    </a>
                    <a class="mx-4" href="/admin/edit/{{this.id}}">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <label for="delete-timecard-{{@index}}" class="mx-2" id="open-delete-timecard-modal" data-id="{{this.id}}">
                        <i class="fa-solid fa-trash"></i>
                        </>
                </span>
            </div>
            <div class="max-h-0 overflow-hidden duration-300 group-focus:bg-zinc-500 group-focus:max-h-96">
                <div
                    class="grid grid-cols-5 items-center justify-between justify-items-center h-8 px-2 text-sm uppercase border-black">
                    <div class="flex-row mx-5 px-3">Date</div>
                    <div class="flex-row mx-5 px-3">Job Name</div>
                    <div class="flex-row mx-5 px-3">Job Number</div>
                    <div class="flex-row mx-5 px-3">Hours</div>
                    <div class="flex-row mx-5 px-3">Overtime</div>
                </div>
                {{#each this.timeEntries}}
                    <div
                        class="grid grid-cols-5 border-t  items-center justify-between justify-items-center max-h-fit px-2 text-sm">
                        <div class="">{{date date 'MM-DD-YYYY'}}</div>
                        <div class="">{{jobName}}</div>
                        <div class="">{{#if jobNum}}{{jobNum}}{{else}}N/A{{/if}}</div>
                        <div class="">{{hours}}</div>
                        <div>{{#if overtime}}{{overtime}}{{else}}0{{/if}}</div>
                    </div>
                {{/each}}
            </div>
        </button>
    </div>
{{/each}}
<div id="pagination" class="flex flex-row justify-evenly mt-3">
    {{#gt pagination.pageCount 1}}
        <ul class="flex flex-wrap items-center md:mr-4 mr-0 justify-evenly overflow-hidden  gap-3 mb-4">
            {{#gt pagination.page 1}}
                {{#paginate pagination type="previous"}}
                    <div class="col-auto"><a href="{{#if @root.empName}}?empName={{@root.empName}}{{/if}}{{#if @root.week}}?week={{@root.week}}{{/if}}&p={{n}}"><button class="btn"><i
                                    class="fa-solid fa-arrow-left"></i></button></a></div>
                {{/paginate}}
            {{/gt}}
            {{#paginate pagination type="middle" limit="3"}}
                <div class="{{#if active}}active{{/if}} col"><a href="{{#if @root.empName}}?empName={{@root.empName}}{{/if}}{{#if @root.week}}?week={{@root.week}}{{/if}}&p={{n}}"><button
                            class="btn">{{n}}</button></a>
                </div>
            {{/paginate}}
            {{#lt pagination.page pagination.pageCount}}
                {{#paginate pagination type="next"}}
                    <div class="col-auto"><a href="{{#if @root.empName}}?empName={{@root.empName}}{{/if}}{{#if @root.week}}?week={{@root.week}}{{/if}}&p={{n}}"><button class="btn"><i
                                    class="fa-solid fa-arrow-right"></i></button></a></div>
                {{/paginate}}
            {{/lt}}
        </ul>
    {{/gt}}
</div>
{{#each timecards}}
    <input type="checkbox" id="delete-timecard-{{@index}}" class="modal-toggle" />
    <div class="modal" role="dialog">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Are you sure?</h3>
            <p class="py-4">Are you sure you want to delete this timecard?</p>
            <div id="test-element"></div>
            <form id="delete-timecard-form" action="/admin/delete/{{this.id}}" method="POST">
                <button class="btn btn-primary">Delete</button>
            </form>
            <p class="mt-4"><label class="btn btn-secondary" for="delete-timecard-{{@index}}">Cancel</label></p>
        </div>
        <label class="modal-backdrop" for="delete-timecard-{{@index}}">Close</label>
    </div>
{{/each}}