<!-- Component Start -->

<div class="flex flex-col">
    <button class="group border-e rounded-lg border-black focus:outline-none">
        {{#if week}}
            Week: {{week}}
        {{/if}}
        {{#if empName}}
            Employee: {{empName}}
        {{/if}}
        <div class="flex items-center justify-between justify-items-center h-12 px-3 font-bold">
            <span class="truncate">Date Submitted</span>
            <span class="truncate">Employee Name</span>
            <span class="truncate">Hours</span>
            <span class="truncate">Overtime</span>
            <span></span>
        </div>
    </button>
</div>
{{#unless timecards}}
    <div class="flex flex-col ">
        <button class="focus:outline-none">
            There are no timecards to show for this view
        </button>
    </div>
{{/unless}}
{{#each timecards}}
    <div class="flex flex-col ">
        <button class="group border-t border-r border-l border-black focus:outline-none">
            <div
                class="flex grow items-center justify-between justify-items-center h-12 px-3 font-semibold hover:bg-gray-200">
                <span class="truncate">{{date this.timeEntries.[0].date 'MM-DD-YYYY'}}</span>
                <span class="truncate pl-3">{{empName}}</span>
                <span class="truncate">{{hoursCount}}</span>
                <span class="truncate">{{overtimeCount}}</span>
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="max-h-0 overflow-hidden duration-300 group-focus:bg-zinc-500 group-focus:max-h-96">
                <div
                    class="grid grid-cols-5 items-center justify-between justify-items-center h-8 px-2 text-sm uppercase border-black">
                    <div class="flex-row mx-5 px-3">Date</div>
                    <div class="flex-row mx-5 px-3">Job Name</div>
                    <div class="flex-row mx-5 px-3">Job Number</div>
                    <div class="flex-row mx-5 px-3">Hours</div>
                    <div class="flex-row mx-5 px-3">Overtime</div>
                </div>
                {{#each this.timeEntries}}
                    <div
                        class="grid grid-cols-5 items-center justify-between justify-items-center h-auto px-2 text-sm">
                        <div class="">{{date date 'MM-DD-YYYY'}}</div>
                        <div class="">{{jobName}}</div>
                        <div class="">{{#if jobNum}}{{jobNum}}{{else}}N/A{{/if}}</div>
                        <div class="">{{hours}}</div>
                        <div>{{#if overtime}}{{overtime}}{{else}}0{{/if}}</div>
                    </div>
                {{/each}}
            </div>
        </button>
    </div>
{{/each}}