<table>
    <thead class="rounded-lg">
        <th>
            Date Submitted</th>
        <th>
            Employee</th>
        <th class="hidden md:table-cell" id="category">
            Hours</th>
        <th class="hidden md:table-cell" id="category">
            Overtime</th>
        <th class="hidden md:table-cell" id="category">
            Time Entries</th>
    </thead>
    <tbody>
        {{#each timeEntries}}
            <tr class="hover:bg-gray-100 cursor-pointer data-row" data-accordion="collapse">
                <td id="dateSubmitted">{{formatDate dateSubmitted}}</td>
                <td id="empName">{{empName}}</td>
                <td class="hidden md:table-cell" id="hours">{{hoursCount}}</td>
                <td class="hidden md:table-cell" id="overtime">{{overtimeCount}}</td>
                <td class="hidden md:table-cell" id="punchCount">{{punchCount}}</td>
            </tr>
            <tr class="hidden-frame hidden">
                <td colspan="6" class="px-2 py-2 border-b border-gray-400 text-xs">
                    {{#each timeEntries}}
                        <table class="w-full">
                            <tr class="border-stone-950">
                                <td class="border-stone-950">{{date}}</td>
                                <td class="border-stone-950">{{jobName}}</td>
                                <td class="border-stone-950">{{#if jobNum}}{{jobNum}}{{else}}N/A{{/if}}</td>
                                <td class="border-stone-950">{{hours}}</td>
                                <td class="border-stone-950">{{#if overtime}}{{overtime}}{{else}}0{{/if}}</td>
                            </tr>
                        </table>
                    {{/each}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>